<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
          <extensions>
            <behaviorExtensions>
              <add name="serviceKeyBehavior" type="QMS_API.ServiceSupport.ServiceKeyBehaviorExtensionElement, QMS_API, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
            </behaviorExtensions>
          </extensions>
          <behaviors>
            <endpointBehaviors>
              <behavior name="ServiceKeyEndpointBehavior">
                
              </behavior>
            </endpointBehaviors>
          </behaviors>  
          <bindings>
                <basicHttpBinding>
                      <binding name="BasicHttpBinding_IQMS" closeTimeout="00:01:00"
                            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                            allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
                            maxReceivedMessageSize="65536" useDefaultWebProxy="true">
                            <security mode="TransportCredentialOnly">
                                  <transport clientCredentialType="Ntlm" />
                            </security>
                      </binding>
                      <binding name="BasicHttpBinding_IQTService" closeTimeout="00:01:00"
                            openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                            allowCookies="false" bypassProxyOnLocal="false" maxBufferPoolSize="524288"
                            maxReceivedMessageSize="65536" useDefaultWebProxy="true">
                            <security mode="TransportCredentialOnly">
                                  <transport clientCredentialType="Ntlm" />
                            </security>
                      </binding>
                </basicHttpBinding>
          </bindings>
        <client>
            <endpoint address="http://localServerName:4799/QMS/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQMS" contract="QMSBackend.IQMS"
                name="BasicHttpBinding_IQMS" />
            <endpoint address="http://localServerName:4799/ANY/Service" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IQTService" contract="QMSBackend.IQTService"
                name="BasicHttpBinding_IQTService" />
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
